# Ignore sobre aplicacion en Solidity


## Objetos compilados con datos o referencias locales

### Ruta de compilacion por defecto
/build

### Rutas agregadas al cambiar al compilador ^0.8.0
contracts/bin/

### Ruta de compilacion para el cliente
# [TODO]: reapuntar al template de cliente montado por Migue
/client/src/contracts